{% load static %}
<link rel="stylesheet" href="{% static 'css/stylee.css' %}">
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="social-icons">
                    <li><a href="https://www.instagram.com/renaatoignaciio/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.tiktok.com/@tucuenta" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                </ul>
                <p>Síguenos en Instagram y TikTok</p>
                <p>Teléfono: +56998236541</p>
            </div>
        </div>
    </div>
</footer>