body{
    background-color: rgb(255, 255, 255);


    #logo{
        color: rgb(0, 0, 0);
        text-align: center;
        line-height: -20px;
        margin: -40px;
    }

    .navbar-custom .nav-link {
        color: black;
        line-height: 5;
        margin: 10px;
    }

    .navbar-custom .nav-link:hover {
        color: rgb(226, 224, 224); /* Cambia el color del texto en el hover */
    }
    /* Estilos para el carrusel */
    #carouselExampleAutoplaying .carousel-item img {
        width: 100%; /* Ancho del 100% del carrusel */
        object-fit: cover; /* Ajusta la imagen para que llene el contenedor sin deformación */
    }
    
    
}

.footer {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.social-icons {
    list-style-type: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons li a {
    color: #000;
    font-size: 20px;
}

